
<p-dialog
  header="{{ producto ? 'Editar Producto' : 'Nuevo Producto' }}"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '100%', maxWidth: '520px' }"
  [contentStyle]="{ 'max-height': '85vh', 'overflow-y': 'auto', 'padding': '1rem' }"
  [dismissableMask]="true"
  (onHide)="onHide()"
  class="rounded-xl animate-fade-in"
>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-fluid">
    <!-- Nombre -->
    <div class="field">
      <label for="nombre" class="block text-sm text-gray-700 dark:text-gray-300 mb-1">Nombre</label>
      <input id="nombre" pInputText formControlName="nombre" class="w-full" />
    </div>

    <!-- Precio -->
    <div class="field mt-3">
      <label for="precio" class="block text-sm text-gray-700 dark:text-gray-300 mb-1">Precio</label>
      <input id="precio" type="number" pInputText formControlName="precio" class="w-full" />
    </div>

    <!-- Stock -->
    <div class="field mt-3">
      <label for="stock" class="block text-sm text-gray-700 dark:text-gray-300 mb-1">Stock</label>
      <input id="stock" type="number" pInputText formControlName="stock" class="w-full" />
    </div>

    <!-- Imagen -->
    <div class="field mt-3">
      <label for="imagenUrl" class="block text-sm text-gray-700 dark:text-gray-300 mb-1">URL de Imagen</label>
      <input id="imagenUrl" pInputText formControlName="imagenUrl" class="w-full" />
    </div>

    <!-- Categorías -->
    <div class="field mt-3">
      <label for="categorias" class="block text-sm text-gray-700 dark:text-gray-300 mb-1">Categorías</label>
      <p-multiSelect
        formControlName="categorias"
        [options]="categorias"
        optionLabel="nombre"
        optionValue="_id"
        placeholder="Seleccionar..."
        class="w-full"
        [panelStyle]="{ 'max-height': '200px' }"
        styleClass="shadow-sm rounded-md"
        [appendTo]="'body'"
        ></p-multiSelect>
    </div>

    <!-- Footer -->
    <div class="mt-4 flex justify-end gap-2">
        
  <!-- Botón cancelar -->
    <button
        pButton
        type="button"
        label="Cancelar"
        class="p-button-outlined p-button-secondary"
        (click)="onHide()"
    > </button>

  <!-- Botón guardar -->
    <button
        pButton
        label="Guardar"
        type="submit"
        [disabled]="form.invalid"
        class="p-button-success"
    > </button>
    </div>
  </form>
</p-dialog>
