/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';

body.light-theme {
  --primary-color: #1976d2;
  --background-color: #ffffff;
  --text-color: #000000;
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark-theme {
  --primary-color: #90caf9;
  --background-color: #121212;
  --text-color: #ffffff;
  background-color: var(--background-color);
  color: var(--text-color);
}

::ng-deep .p-progress-spinner {
  display: inline-block;
}

body {
  @apply bg-gray-50 dark:bg-gray-900 text-gray-800 dark:text-gray-100;
}

